{% extends "index.html" %}

{% load static %}
{% block title %} Create a new account {% endblock %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <section>
        <div class="form-container">
            <h1>Sign up</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="control lgn">
                    <label class="label">Username</label>
                    <input type="text" name="username" id="id_username" placeholder="Choose your username...">
                </div>
                <div class="control lgn">
                    <label class="label">E-mail</label>
                    <input type="text" name="email" placeholder="Enter your email...">
                </div>
                <div class="control lgn">
                    <label class="label">Password</label>
                    <input type="password" name="password1" id="password1" placeholder="Choose a password...">
                </div>
                <div class="control lgn">
                    <label class="label">Repeat password</label>
                        <input type="password" name="password2" id="password2" placeholder="Confirm password...">
                </div>
                <div class="control lgn">
                    <input type="submit" value="Create a new account">
                </div>
                <p> If you already have an account, you can log in<a href="{% url 'login' %}"> HERE </a>
            </form>
        </div>
    </section>
{% endblock %}