{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-image: url(/static/images/homebackground.jpg); background-repeat: no-repeat; background-size: cover">
<!--  <img src="{% static 'images/logo2.png' %}">-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
          <div class="logoicon">RSbayOnline</div>
        <li class="nav-item active"><a class="nav-link" href="{% url 'welcome-page' %}">Home<span class="sr-only"></span></a></li>
        <li class="nav-item active"><a class="nav-link" href="{% url 'products' %}">Products</a></li>
        {% if not request.user.is_authenticated %}
          <li class="nav-item active"><a class="nav-link" href="{% url 'signup' %}">Sign up</a></li>
          <li class="nav-item active" ><a class="nav-link" href="{% url 'login' %}">Login</a></li>
        {% endif %}
          {% if request.user.is_authenticated %}
            <li class="nav-item active"><a class="nav-link" href="{% url 'account-details' %}">Account</a> </li>
          {% endif %}
          <li class="nav-item active"><a class="nav-link" href="{% url 'contact-page' %}">Contact</a> </li>
      </ul>
        <form class="form-inline my-2 my-lg-0 navbar-form" action="{% url 'search' %}" method="GET">
            <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search for a specific product" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-2" type="submit">Search</button>
        </form>
      <div class="form-inline my-2 my-lg-0">

<!--        LOG OUT BUTTON -->
        <div class="loggedinuser">
            {% if request.user.is_authenticated %}
              {{request.user}}
                <a href="{% url 'logout' %}" class="btn btn-dark" onclick="return confirm('Confirm logging out?')">Log out</a>
            {% else %}
              Welcome stranger!
            {% endif %}
        </div>

<!--        Add product button-->
          <a href="{% url 'create-product' %}" class="btn btn-primary">Add product</a>
<!--        Users orders button-->
            <div class="btn orders-button">
                <a href="{% url 'order-overview' %}" class="btn btn-primary">My orders</a>
            </div>

<!--        CART BUTTON -->
        <a href="{% url 'cart' %}">
            <img  id="cart-icon" src="{% static 'images/cart.png' %}">
        </a>
        <p id="cart-total">{{cart_products}}</p>

      </div>
    </div>
</nav>